.box {
    position: absolute;
    height: 100px;
    width: 100px;
    outline: none;
    touch-action: none;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    user-select: none;
}

.box.selected {
    z-index: 100;
}

.handle {
    touch-action: none;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    opacity: 0;
    z-index: 10;
}

.box.selected .handle {
    opacity: 1;
}

.handle.position {
    width: 100%;
    height: 100%;
    z-index: 1;
    box-shadow: 0 0 0 1px #18a0fb;
    border: 1px solid #18a0fb;
}

// Handles

$handle-size: 10px;
$handle-half: calc($handle-size / 2);

.handle.left {
    left: -$handle-half;
}

.handle.right {
    right: -$handle-half;
}

.handle.top {
    top: -$handle-half;
}

.handle.bottom {
    bottom: -$handle-half;
}

.handle.left,
.handle.right {
    top: $handle-half;
    width: 10px;
    height: calc(100% - $handle-size);
    cursor: ew-resize;
}

.handle.top,
.handle.bottom {
    left: $handle-half;
    width: calc(100% - $handle-size);
    height: $handle-size;
    cursor: ns-resize;
}

.handle.corner {
    height: $handle-size;
    width: $handle-size;
    background: #fff;
    border: 1px solid #18a0fb;
}

.handle.corner.top-left {
    top: -$handle-half;
    left: -$handle-half;
    cursor: nwse-resize;
}

.handle.corner.bottom-left {
    bottom: -$handle-half;
    left: -$handle-half;
    cursor: nesw-resize;
}

.handle.corner.top-right {
    top: -$handle-half;
    right: -$handle-half;
    cursor: nesw-resize;
}

.handle.corner.bottom-right {
    bottom: -$handle-half;
    right: -$handle-half;
    cursor: nwse-resize;
}
